<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="4.1.0-rc2" targetFramework="net461" />
  <package id="ShaderGen.Build" version="1.2.155-beta2-g562791ab55" targetFramework="net461" />
  <package id="ShaderGen.Primitives" version="1.2.155-beta2-g562791ab55" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
</packages>